.navbar {
    display: flex;
    position: fixed;
    justify-content: flex-end;
    top: 0; 
    left: 0;
    max-width: 100%;
    z-index: 10;
    font-size: 14px;
    font-weight: 500;
    background-color: #ffffff;
    width: 100vw;
    padding: 10px 0px; 
    align-items: center;
    border: solid;

    .menu-link {
        margin-right: 50px;
        text-decoration: none;
        text-transform: uppercase;

        &:hover {
            transition: all 0.1s ease-out;
            font-weight: 800;
        }
    }

}