/* HOME PAGE QUERIES */
@media (max-width: 768px) {

    .name-job {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .navbar {
        display: flex;
        justify-content: center;
        
        .menu-link {
            margin-right: 25px;
            margin-left: 25px;
        }
    }
}